{% extends 'layout.html' %}
{% block layout_content %}

    <h1>Add Employee</h1>

    <div>
        <form method='POST' action=''>
            {{ form.hidden_tag() }}
            <fieldset class='col'>
                <legend class='border-bottom mb-3'></legend>
                <div class='row'>

                    <!-- Add in employee first name -->
                    <div class='col'>
                        {{ form.firstName.label(class='form-control-label') }}

                        {% if form.firstName.errors %}
                            {{ form.firstName(class='form-control form-control-lg is-invalid') }}
                            <div class='invalid-feedback'>
                                {% for error in form.firstName.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.firstName(class='form-control form-control-lg') }}
                        {% endif %}
                    </div>

                    <!-- Add in employee last name -->
                    <div class='col'>
                        {{ form.lastName.label(class='form-control-label') }}
                        {% if form.lastName.errors %}
                            {{ form.lastName(class='form-control form-control-lg is-invalid') }}
                            <div class='invalid-feedback'>
                                {% for error in form.lastName.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.lastName(class='form-control form-control-lg') }}
                        {% endif %}
                    </div>

                    <!--Add in employee department ID -->
                    <div class='col'>
                        {{ form.departmentID.label(class='form-control-label') }}
                        {% if form.departmentID.errors %}
                            {{ form.departmentID(class='form-control form-control-lg is-invalid') }}
                            <div class='invalid-feedback'>
                                {% for error in form.departmentID.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.departmentID(class='form-control form-control-lg') }}
                        {% endif %}
                    </div>

                    <!-- Add in employee office ID-->
                    <div class='col'>
                        {{ form2.officeID.label(class='form-control-label') }}
                        {% if form2.officeID.errors %}
                            {{ form2.officeID(class='form-control form-control-lg is-invalid') }}
                            <div class='invalid-feedback'>
                                {% for error in form2.officeID.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form2.officeID(class='form-control form-control-lg') }}
                        {% endif %}
                    </div>
                </div>
            </fieldset>
            <br />
            <h6>Click in Department ID and Office ID fields for list of options. NULL can be entered into Department ID if an employee isn't attached to a Department.</h6>
            <br />

            <div class='col'>
                {{ form.submit(class='btn btn-light') }}
            </div>
            <br />
        </form>
    </div>

{% endblock layout_content %}
