
{% extends 'layout.html' %}
{% block layout_content %}

    <h1>Employees Page</h1>
    <br />

    <h2>Search Employees</h2>
    <div>
        <form method='POST' action=''>
            {{ form.hidden_tag() }}
            <fieldset class='col'>
                <legend class='border-bottom mb-3'></legend>
                <div class='row'>
                    <div class='col'>
                        {{ form.firstName.label(class='form-control-label') }}

                        {% if form.firstName.errors %}
                            {{ form.firstName(class='form-control form-control-lg is-invalid') }}
                            <div class='invalid-feedback'>
                                {% for error in form.firstName.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.firstName(class='form-control form-control-lg') }}
                        {% endif %}
                    </div>
                    <div class='col'>
                        {{ form.lastName.label(class='form-control-label') }}
                        {% if form.lastName.errors %}
                            {{ form.lastName(class='form-control form-control-lg is-invalid') }}
                            <div class='invalid-feedback'>
                                {% for error in form.lastName.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.lastName(class='form-control form-control-lg') }}
                        {% endif %}
                    </div>
                    <div class='col'>
                        {{ form.departmentID.label(class='form-control-label') }}
                        {% if form.departmentID.errors %}
                            {{ form.departmentID(class='form-control form-control-lg is-invalid') }}
                            <div class='invalid-feedback'>
                                {% for error in form.departmentID.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.departmentID(class='form-control form-control-lg') }}
                        {% endif %}
                    </div>

                    <div class='col'>
                        {{ form.employeeID.label(class='form-control-label') }}
                        {% if form.employeeID.errors %}
                            {{ form.employeeID(class='form-control form-control-lg is-invalid') }}
                            <div class='invalid-feedback'>
                                {% for error in form.employeeID.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.employeeID(class='form-control form-control-lg') }}
                        {% endif %}
                    </div>

                </div>
            </fieldset>
            <br />
            <div class='col'>
                {{ form.submit(class='btn btn-light') }}
            </div>
            <br />
        </form>
    </div>

    <br />
    <p><small><a href='{{ url_for("addemployee") }}'>Add Employee</a></small></p>
    <table style="margin-left: auto; margin-right: auto;">
        <thead>
            <tr class='no-hover'>
                <th class='table-left-head'>Last Name</th>
                <th>First Name</th>
                <th>Department ID</th>
                <th class='table-right-head'>Employee ID</th>
                <th class='BlankColumn'></th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employeesList %}
            <tr>
                <td>{{ employee.lastName }}</td>
                <td>{{ employee.firstName }}</td>
                <td>{{ employee.departmentID }}</td>
                <td>{{ employee.employeeID }}</td>
                <td>
                    <p><small><a href='{{ url_for("updateEmployee") }}'>Update</a></small></p>
                    <p><small><a href='{{ url_for("deleteEmployee", employeeID = employee.employeeID, firstName = employee.firstName, lastName = employee.lastName) }}'>Delete</a></small></p>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br />

    <table>
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>Office Site ID</th>
            </tr>
        </thead>
        <tbody>
            {% for id in officeSitesList %}
            <tr>
                <td>{{ id.employeeID }}</td>
                <td>{{ id.officeSiteID }}</td>
                <td>
                    <p><small><a href='{{ url_for("updateEmployee") }}'>Update</a></small></p>
                    <p><small><a href='{{ url_for("employees") }}'>Delete</a></small></p>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br />
    <p>
        <small>
            <a href='{{ url_for("paystubs") }}'>Pay Stubs</a>
            <a href='{{ url_for("departments") }}'>Departments</a>
            <a href='{{ url_for("officesites") }}'>Office Sites</a>
        </small>
    </p>

{% endblock layout_content %}
