
{% extends 'layout.html' %}
{% block layout_content %}

    <h1>Employees Page</h1>
    <br />

    <input type="text" placeholder="Search Employee" name="search">
    <button type="submit">Submit</button>
    <br />

    <br />
    <p><small><a href='{{ url_for("addemployee") }}'>Add Employee</a></small></p>
    <table style="margin-left: auto; margin-right: auto;">
        <thead>
            <tr class='no-hover'>
                <th class='table-left-head'>Last Name</th>
                <th>First Name</th>
                <th>Department ID</th>
                <th class='table-right-head'>Employee ID</th>
                <th class='BlankColumn'></th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employeesList %}
            <tr>
                <td>{{ employee.lastName }}</td>
                <td>{{ employee.firstName }}</td>
                <td>{{ employee.departmentID }}</td>
                <td>{{ employee.employeeID }}</td>
                <td>
                    <p><small><a href='{{ url_for("updateEmployee") }}'>Update</a></small></p>
                    <p><small><a href='{{ url_for("deleteEmployee", employeeID = employee.employeeID, firstName = employee.firstName, lastName = employee.lastName) }}'>Delete</a></small></p>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br />

    <table>
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>Office Site ID</th>
            </tr>
        </thead>
        <tbody>
            {% for id in officeSitesList %}
            <tr>
                <td>{{ id.employeeID }}</td>
                <td>{{ id.officeSiteID }}</td>
                <td>
                    <p><small><a href='{{ url_for("updateEmployee") }}'>Update</a></small></p>
                    <p><small><a href='{{ url_for("employees") }}'>Delete</a></small></p>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br />
    <p>
        <small>
            <a href='{{ url_for("paystubs") }}'>Pay Stubs</a>
            <a href='{{ url_for("departments") }}'>Departments</a>
            <a href='{{ url_for("officesites") }}'>Office Sites</a>
        </small>
    </p>

{% endblock layout_content %}
