
{% extends 'layout.html' %}
{% block layout_content %}

    <h1>Office Sites Page</h1>
    <br />
    <p><small><a class='links' href='{{ url_for("addofficesite") }}'>Add Office Site</a></small></p>
    <table style="margin-left: auto; margin-right: auto;">
        <thead>
            <tr>
                <th>Office Site ID</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            {% for officeSite in officeSitesList %}
            <tr>
                <td>{{ officeSite.officeSiteID }}</td>
                <td>{{ officeSite.address }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock layout_content %}
